<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="static/register.js"></script>
    <title>Register</title>
</head>
<body>
    <a href="/playlisterpage">Playlist</a>
    <a href="/searcherpage">Searcher</a>
    <a href="/downloaderpage">Downloader</a>
    <a href="/loginpage">Login</a>
    <h1>Username : </h1><input type="text" id="username">
    <button onclick="register()">Register</button>
</body>
</html>